<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::header(title='actorQueries')">
</head>
<body>

	<nav th:replace="header::language"></nav>
	
	<a href="backHome" th:text="#{index.backHome}"></a><br /><br />
	    
    <a href="allActors" th:text="#{actorQueries.listAllActors}"></a><br />
    
    <a href="getActor" th:text="#{actorQueries.getActor}"></a><br />
    
    <a href="numberOfActors" th:text="#{actorQueries.numberOfActors}"></a><br />
    
    <a href="getActorByName" th:text="#{actorQueries.getActorByName}"></a><br />
    
 	<a href="createActor" th:text="#{actorQueries.createActor}"></a><br />
      	
    <a href="updateActor" th:text="#{actorQueries.updateActor}"></a><br />
  	
  	<a href="deleteActor" th:text="#{actorQueries.deleteActor}"></a><br />
  	
  	<br /><br />
  		
	<a href="createActorPhotoMulti" th:text="#{actorQueries.createActorPhoto}"></a><br/>
	<a href="listAllActorsWithPhotos" th:text="#{actorQueries.listAllActorsWithPhoto}"></a><br/>
	<a href="getAllPhotosByActor" th:text="#{actorQueries.getAllPhotosByActor}"></a><br/>
	<a href="getActorWithPhotoByName" th:text="#{actorQueries.getActorWithPhotoByName}"></a><br/>
	<a href="deleteActorPhoto" th:text="#{actorQueries.deleteActorPhoto}"></a><br/>
	

</body>
</html>